{{#if errors}}
  <div class="errors">
    <ul>
      {{#each errors}}
        <li>{{this.message}}</li>
      {{/each}}
    </ul>
  </div>
{{/if}}

<section class="form-wrapper">
  <form id="checkout-form" method="post" action="/checkout">
    <h3>Drop-In v3 Transaction <span class="tagline">(want <a href="hosted_fields/index.php">Hosted Fields?</a>)<span></h3>
    <div class="dropin-customer-data">
      <div class="row">
        <div class="col-xs-3 field-box">
          <label for="amount">Amount</label>
          <input class="dropin-form-field" type="text" name="amount">
        </div>
        <div class="col-xs-3 field-box">
          <label for="email">Email</label>
          <input class="dropin-form-field" type="text" name="email">
        </div>
        <div class="col-xs-3 field-box">
          <label for="first">First</label>
          <input class="dropin-form-field" type="text" name="firstName">
        </div>
        <div class="col-xs-3 field-box">
          <label for="last">Last</label>
          <input class="dropin-form-field" type="text" name="lastName">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-4 field-box">
          <label for="streetAddress">Street Address</label>
          <input class="dropin-form-field" type="text" name="streetAddress">
        </div>
        <div class="col-xs-4 field-box">
          <label for="city">City</label>
          <input class="dropin-form-field" type="text" name="city">
        </div>
        <div class="col-xs-4 field-box">
          <label for="state">State</label>
          <input class="dropin-form-field" type="text" name="state">
        </div>
      </div>
    </div>

    <div id="checkout-message"></div>
    <div id="dropin-container"></div>

    <div class="options">
      <div class="row">
        <label class="options-label" for="country">Country:</label>
        <select id="country" name="country">
          <option value="US">US</option>
          <option value="GB">UK</option>
          <option value="FR">FR</option>
          <option value="AU">AU</option>
          <option value="JP">JP</option>
        </select>
        <label class="options-label" for="submitForSettlement">Submit for Settlement: <input id="submitForSettlement" name="submitForSettlement" type="checkbox" value="true" checked data-toggle="toggle" data-size="mini" data-width="50"></label>
        <label class="options-label" for="vault">Store in Vault on Success: <input id="vault" name="vault" type="checkbox" value="true" checked data-toggle="toggle" data-size="mini" data-width="50"></label>
      </div>
      <div class="row">
        <label class="options-label" for="skipAtf">Skip Advanced Fraud Tools:</label>
        <input id="skip-atf" name="skipAtf" type="checkbox" value="true" checked data-toggle="toggle" data-size="mini" data-width="50">
        <label class="options-label" for="skipAvs">Skip AVS Rules:</label>
        <input id="skip-avs" name="skipAvs" type="checkbox" value="true" checked data-toggle="toggle" data-size="mini" data-width="50">
        <label class="options-label" for="skipCvv">Skip CVV Rules:</label>
        <input id="skip-cvv" name="skipCvv" type="checkbox" value="true" checked data-toggle="toggle" data-size="mini" data-width="50">
      </div>
    </div>

    <input id='nonce' type="hidden" name="nonce">
    <input class="btn btn-success" id="submit-button" type="submit" value="Checkout">
  </form>
</section>

<script>
  const submitButton = document.querySelector('#submit-button');
  const form = document.querySelector('#checkout-form');

  braintree.dropin.create({
    authorization: 'sandbox_pts9dwpx_ypqzd3sxwcnqymbw',
    container: '#dropin-container'
  }, function (createErr, instance) {
    submitButton.addEventListener('click', function(event) {
      console.log('click');
      event.preventDefault();

      instance.requestPaymentMethod(function(requestPaymentMethodErr, payload) {
        document.querySelector('#nonce').value = payload.nonce;
        form.submit();
      });
    });
  });
</script>
