{{#if message}}
  <div class="success">
    <p>{{ message }}</p>
  </div>
{{/if}}

{{#if errors}}
  <div class="errors">
    <ul>
      {{#each errors}}
        <li>{{this.message}}</li>
      {{/each}}
    </ul>
  </div>
{{/if}}

<section class="form-wrapper">
	<form id="refund-form" method="post" action="/refund">
    <h3>Refund</h3>
      <div class="row">
        <div class="col-md-6 field-box">
          <input class="form-field" type="text" name="transactionId" placeholder="Transaction ID">
        </div>
        <div class="col-md-6 field-box">
          <input class="form-field" type="text" name="amount" placeholder="Amount">
        </div>
      </div>
    <br>
	  <input class="btn btn-danger" id="submit-button" type="submit" value="Refund">
	</form>
</section>
